### General ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
k8s/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Environment Variables ###
*.env
.env